* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    background-color: #DE1900;
}

.coral {
    background-color: #F53100;
}

.golden {
    background-color: #FFCC23;
}

.orange {
    background-color: #FF7C2A;
}

.black {
    background-color: #000;
}

.pink {
    background-color: #FFB485;
}

.sand {
    background-color: #FFE39C;
}

.green {
    background-color: #0CB800;
}

.yellow {
    background-color: #FFF423;
}

.blue {
    background-color: #3A6AFF;
}

.lightgreen {
    background-color: #83E101;
}

.lightblue {
    background-color: #63BCFF;
}
