* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    background-color: #DE1900;
}

.coral {
    background-color: #F53100;
}

.golden {
    background-color: #FFCC23;
}

.orange {
    background-color: #FF7C2A;
}

.black {
    background-color: #000;
}

.pink {
    background-color: #FFB485;
}

.sand {
    background-color: #FFE39C;
}

.green {
    background-color: #0CB800;
}

.yellow {
    background-color: #FFF423;
}

.blue {
    background-color: #3A6AFF;
}

.lightgreen {
    background-color: #83E101;
}

.lightblue {
    background-color: #63BCFF;
}

.violet {
    background-color: #8621D9;
}

.darkbrown {
    background-color: #611F00;
}

.caramel {
    background-color: #DB7B14;
}

.brown {
    background-color: #AB4D00;
}


.darkbrown.col-1.col-offset-3:first-child {
    animation: dance-legs 1s infinite step-start;
    animation-delay: 3s;
}

@keyframes dance-legs {
0% {margin-left: calc(( 100% / 12 ) * 3);}
50% {margin-left: calc(( 100% / 12 ) * 4);}
100% {margin-left: calc(( 100% / 12 ) * 3);}
}

.container:last-child > div:nth-child(2),
.container:last-child > div:nth-child(5) {
    animation: shadow 1s infinite step-start;
    animation-delay: 3s;
}

@keyframes shadow {
    0% { background-color: #000;}
    50% {background-color: #AB4D00;}
    100% { background-color: #000;}

}

.container:last-child > div:nth-child(3),
.container:last-child > div:nth-child(6) {
    animation: paw 1s infinite step-start;
    animation-delay: 3s;
}

@keyframes paw {
    0% { background-color: #AB4D00;}
    50% {background-color: #000;}
    100% { background-color: #AB4D00;}

}

.container:nth-child(6) > .black.col-1.col-offset-2 {
    animation: eye-top 3s infinite step-start;
    animation-delay: 3s;
}

@keyframes eye-top {
    0% {border-bottom: 0;}
    5% {border-bottom: 20px solid black; background-color: white;}
    100% {border-bottom: 0;}
}

.container:nth-child(7) > .black.col-1{
    animation: eye-bottom 3s infinite step-start;
    animation-delay: 3s;
}

@keyframes eye-bottom {
    0% {border-top: 0;}
    5% {border-top: 20px solid black; background-color: white;}
    100% {border-top: 0;}
}

.container:first-child > .red.col-1.col-offset-1 {
    animation: crest-top 1s infinite step-start;
    animation-delay: 3s;
}

@keyframes crest-top {
    0% {width: calc( 100% / 12 ); margin-left: calc( 100% / 12 );}
    50% {background-color: white;}
    100% {width: calc( 100% / 12 ); margin-left: calc( 100% / 12 );}
}

.container:nth-child(2) > .red.col-4.col-offset-2 {
    animation: crest-bottom 1s infinite step-start;
    animation-delay: 3s;
}

@keyframes crest-bottom {
    0% {width: calc(( 100% / 12 ) * 4); margin-left: calc(( 100% / 12 ) * 2);}
    50% {width: calc(( 100% / 12 ) * 5); margin-left: calc( 100% / 12 );}
    100% {width: calc(( 100% / 12 ) * 4); margin-left: calc(( 100% / 12 ) * 2);}
