* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    background-color: #DE1900;
}

.coral {
    background-color: #F53100;
}

.golden {
    background-color: #FFCC23;
}

.orange {
    background-color: #FF7C2A;
}

.black {
    background-color: #000;
}

.pink {
    background-color: #FFB485;
}

.sand {
    background-color: #FFE39C;
}

.green {
    background-color: #0CB800;
}

.yellow {
    background-color: #FFF423;
}

.blue {
    background-color: #3A6AFF;
}

.lightgreen {
    background-color: #83E101;
}

.lightblue {
    background-color: #63BCFF;
}

.violet {
    background-color: #8621D9;
}

.darkbrown {
    background-color: #611F00;
}

.caramel {
    background-color: #DB7B14;
}

.brown {
    background-color: #AB4D00;
}


.darkbrown.col-1.col-offset-3:first-child {
    animation: dance-legs 1s infinite step-start;
}

@keyframes dance-legs {
0% {margin-left: calc(( 100% / 12 ) * 3);}
50% {margin-left: calc(( 100% / 12 ) * 4);}
100% {margin-left: calc(( 100% / 12 ) * 3);}
}

.container:last-child > div:nth-child(2),
.container:last-child > div:nth-child(5) {
    animation: shadow 1s infinite step-start;
}

@keyframes shadow {
    0% { background-color: #000;}
    50% {background-color: #AB4D00;}
    100% { background-color: #000;}

}

.container:last-child > div:nth-child(3),
.container:last-child > div:nth-child(6) {
    animation: paw 1s infinite step-start;
}

@keyframes paw {
    0% { background-color: #AB4D00;}
    50% {background-color: #000;}
    100% { background-color: #AB4D00;}

}
